@{
    ViewBag.Title = "NameOfUser subscribers";
    ViewBag.StylesPath = "~/css/subscribers.css";
}


<div class="container-for-header-panel">
    <header class="header">
        <ul class="header-items">
            <li class="header-items-item header-items-item-logo">
                <a asp-controller="Home" asp-action="Index"><img class="header-items-item-logo-image" src="/Images/Logo.jpg" alt="Logo of page"></a>
                <a class="header-link-title" asp-controller="Forum" asp-action="Index"><h1 class="header-items-item-logo-title">Forum</h1></a>
            </li>
            <li class="header-items-links">
                <ul class="header-items-links-list">
                    <li class="header-items-links-list-item header-items-links-list-register">
                        <a class="header-items-links-list-item-profile-link" asp-controller="MyAccount" asp-action="Index">
                            <ul class="header-items-links-list-item-profile">
                                <li class="header-items-links-list-item-profile-image"><img class="header-items-links-list-item-profile-image-element" src="~/Images/Icons/User_Profile_Photo.svg" alt="Profile picture of user"></li>
                                <li class="header-items-links-list-item-profile-inscription">
                                    <ul class="header-items-links-list-item-profile-inscription-items">
                                        <li class="header-items-links-list-item-profile-inscription-items-logged-as">Logged as</li>
                                        <li class="header-items-links-list-item-profile-inscription-items-username">@User.Identity.Name</li>
                                    </ul>
                                </li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </header>


    <section class="search-panel">
        <form class="search-panel-form">
            <ul class="search-panel-form-search">
                <li class="search-panel-form-search-icon">
                    <div class="search-panel-form-search-icon-div"></div>
                </li>
                <li class="search-panel-form-search-input">
                    <input class="search-panel-form-search-input-element" type="text" placeholder="Search">
                </li>
            </ul>
            <ul class="search-panel-form-dropdown">
                <li class="search-panel-form-dropdown-select">
                    <select class="search-panel-form-dropdown-select-element">
                        <option class="search-panel-form-dropdown-select-element-author" value="all">All results</option>
                        <option class="search-panel-form-dropdown-select-element-author" value="author">Username</option>
                        <option class="search-panel-form-dropdown-select-element-title" value="title">Title</option>
                        <option class="search-panel-form-dropdown-select-element-genre" value="genre">Topic</option>
                    </select>
                </li>
                <li class="search-panel-form-dropdown-arrow">
                    <div class="search-panel-form-dropdown-arrow-div"></div>
                </li>
            </ul>
            <button class="search-panel-form-button">Search</button>
        </form>
    </section>
</div>


<div class="subs-container">
    <section class="subs">
        <ul class="subs-items">
            <li class="subs-items_title"><h1 class="subs-items_title-element">Subscribers of <span class="subs-items_title-element-username">username421_:</span></h1></li>
            <li class="subs-items_amount"><span class="subs-items_amount-element">9 subscribers</span></li>
            <li class="subs-items_subs-columns">
                <ul class="subs-items_subs-columns-items">

                    <li class="subs-items_subs-columns-items_first-column">
                        <ul class="subs-items_subs-columns-items_first-column-items">

                            <li class="subs-items_subs-columns-items_first-column-items_subscriber">
                                <a class="subs-items_subs-columns-items_first-column-items_subscriber-link" href="">
                                    <ul class="subs-items_subs-columns-items_first-column-items_subscriber-items">
                                        <li class="subs-items_subs-columns-items_first-column-items_subscriber-items_image"><img class="subs-items_subs-columns-items_first-column-items_subscriber-items_image-element" src="~/Images/Icons/User_Profile_Photo.svg" alt="Photo of the user"></li>
                                        <li class="subs-items_subs-columns-items_first-column-items_subscriber-items_info">
                                            <ul class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items">
                                                <li class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items_username"><span class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items_username-element">username463_</span></li>
                                                <li class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items_full-name"><span class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items_full-name-element">Firstname Lastname</span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </a>
                            </li>
                            <li class="subs-items_subs-columns-items_first-column-items_subscriber">
                                <a class="subs-items_subs-columns-items_first-column-items_subscriber-link" href="">
                                    <ul class="subs-items_subs-columns-items_first-column-items_subscriber-items">
                                        <li class="subs-items_subs-columns-items_first-column-items_subscriber-items_image"><img class="subs-items_subs-columns-items_first-column-items_subscriber-items_image-element" src="~/Images/Icons/User_Profile_Photo.svg" alt="Photo of the user"></li>
                                        <li class="subs-items_subs-columns-items_first-column-items_subscriber-items_info">
                                            <ul class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items">
                                                <li class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items_username"><span class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items_username-element">username463_</span></li>
                                                <li class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items_full-name"><span class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items_full-name-element">Firstname Lastname</span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </a>
                            </li>
                            <li class="subs-items_subs-columns-items_first-column-items_subscriber">
                                <a class="subs-items_subs-columns-items_first-column-items_subscriber-link" href="">
                                    <ul class="subs-items_subs-columns-items_first-column-items_subscriber-items">
                                        <li class="subs-items_subs-columns-items_first-column-items_subscriber-items_image"><img class="subs-items_subs-columns-items_first-column-items_subscriber-items_image-element" src="~/Images/Icons/User_Profile_Photo.svg" alt="Photo of the user"></li>
                                        <li class="subs-items_subs-columns-items_first-column-items_subscriber-items_info">
                                            <ul class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items">
                                                <li class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items_username"><span class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items_username-element">username463_</span></li>
                                                <li class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items_full-name"><span class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items_full-name-element">Firstname Lastname</span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </a>
                            </li>
                            <li class="subs-items_subs-columns-items_first-column-items_subscriber">
                                <a class="subs-items_subs-columns-items_first-column-items_subscriber-link" href="">
                                    <ul class="subs-items_subs-columns-items_first-column-items_subscriber-items">
                                        <li class="subs-items_subs-columns-items_first-column-items_subscriber-items_image"><img class="subs-items_subs-columns-items_first-column-items_subscriber-items_image-element" src="~/Images/Icons/User_Profile_Photo.svg" alt="Photo of the user"></li>
                                        <li class="subs-items_subs-columns-items_first-column-items_subscriber-items_info">
                                            <ul class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items">
                                                <li class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items_username"><span class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items_username-element">username463_</span></li>
                                                <li class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items_full-name"><span class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items_full-name-element">Firstname Lastname</span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </a>
                            </li>
                            <li class="subs-items_subs-columns-items_first-column-items_subscriber">
                                <a class="subs-items_subs-columns-items_first-column-items_subscriber-link" href="">
                                    <ul class="subs-items_subs-columns-items_first-column-items_subscriber-items">
                                        <li class="subs-items_subs-columns-items_first-column-items_subscriber-items_image"><img class="subs-items_subs-columns-items_first-column-items_subscriber-items_image-element" src="~/Images/Icons/User_Profile_Photo.svg" alt="Photo of the user"></li>
                                        <li class="subs-items_subs-columns-items_first-column-items_subscriber-items_info">
                                            <ul class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items">
                                                <li class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items_username"><span class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items_username-element">username463_</span></li>
                                                <li class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items_full-name"><span class="subs-items_subs-columns-items_first-column-items_subscriber-items_info-items_full-name-element">Firstname Lastname</span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="subs-items_subs-columns-items_second-column">
                        <ul class="subs-items_subs-columns-items_second-column-items">

                            <li class="subs-items_subs-columns-items_second-column-items_subscriber">
                                <a class="subs-items_subs-columns-items_first-column-items_subscriber-link" href="">
                                    <ul class="subs-items_subs-columns-items_second-column-items_subscriber-items">
                                        <li class="subs-items_subs-columns-items_second-column-items_subscriber-items_image"><img class="subs-items_subs-columns-items_second-column-items_subscriber-items_image-element" src="~/Images/Icons/User_Profile_Photo.svg" alt="Photo of the user"></li>
                                        <li class="subs-items_subs-columns-items_second-column-items_subscriber-items_info">
                                            <ul class="subs-items_subs-columns-items_second-column-items_subscriber-items_info-items">
                                                <li class="subs-items_subs-columns-items_second-column-items_subscriber-items_info-items_username"><span class="subs-items_subs-columns-items_second-column-items_subscriber-items_info-items_username-element">username463_</span></li>
                                                <li class="subs-items_subs-columns-items_second-column-items_subscriber-items_info-items_full-name"><span class="subs-items_subs-columns-items_second-column-items_subscriber-items_info-items_full-name-element">Firstname Lastname</span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </a>
                            </li>
                            <li class="subs-items_subs-columns-items_second-column-items_subscriber">
                                <a class="subs-items_subs-columns-items_first-column-items_subscriber-link" href="">
                                    <ul class="subs-items_subs-columns-items_second-column-items_subscriber-items">
                                        <li class="subs-items_subs-columns-items_second-column-items_subscriber-items_image"><img class="subs-items_subs-columns-items_second-column-items_subscriber-items_image-element" src="~/Images/Icons/User_Profile_Photo.svg" alt="Photo of the user"></li>
                                        <li class="subs-items_subs-columns-items_second-column-items_subscriber-items_info">
                                            <ul class="subs-items_subs-columns-items_second-column-items_subscriber-items_info-items">
                                                <li class="subs-items_subs-columns-items_second-column-items_subscriber-items_info-items_username"><span class="subs-items_subs-columns-items_second-column-items_subscriber-items_info-items_username-element">username463_</span></li>
                                                <li class="subs-items_subs-columns-items_second-column-items_subscriber-items_info-items_full-name"><span class="subs-items_subs-columns-items_second-column-items_subscriber-items_info-items_full-name-element">Firstname Lastname</span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </a>
                            </li>
                            <li class="subs-items_subs-columns-items_second-column-items_subscriber">
                                <a class="subs-items_subs-columns-items_first-column-items_subscriber-link" href="">
                                    <ul class="subs-items_subs-columns-items_second-column-items_subscriber-items">
                                        <li class="subs-items_subs-columns-items_second-column-items_subscriber-items_image"><img class="subs-items_subs-columns-items_second-column-items_subscriber-items_image-element" src="~/Images/Icons/User_Profile_Photo.svg" alt="Photo of the user"></li>
                                        <li class="subs-items_subs-columns-items_second-column-items_subscriber-items_info">
                                            <ul class="subs-items_subs-columns-items_second-column-items_subscriber-items_info-items">
                                                <li class="subs-items_subs-columns-items_second-column-items_subscriber-items_info-items_username"><span class="subs-items_subs-columns-items_second-column-items_subscriber-items_info-items_username-element">username463_</span></li>
                                                <li class="subs-items_subs-columns-items_second-column-items_subscriber-items_info-items_full-name"><span class="subs-items_subs-columns-items_second-column-items_subscriber-items_info-items_full-name-element">Firstname Lastname</span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </a>
                            </li>
                            <li class="subs-items_subs-columns-items_second-column-items_subscriber">
                                <a class="subs-items_subs-columns-items_first-column-items_subscriber-link" href="">
                                    <ul class="subs-items_subs-columns-items_second-column-items_subscriber-items">
                                        <li class="subs-items_subs-columns-items_second-column-items_subscriber-items_image"><img class="subs-items_subs-columns-items_second-column-items_subscriber-items_image-element" src="~/Images/Icons/User_Profile_Photo.svg" alt="Photo of the user"></li>
                                        <li class="subs-items_subs-columns-items_second-column-items_subscriber-items_info">
                                            <ul class="subs-items_subs-columns-items_second-column-items_subscriber-items_info-items">
                                                <li class="subs-items_subs-columns-items_second-column-items_subscriber-items_info-items_username"><span class="subs-items_subs-columns-items_second-column-items_subscriber-items_info-items_username-element">username463_</span></li>
                                                <li class="subs-items_subs-columns-items_second-column-items_subscriber-items_info-items_full-name"><span class="subs-items_subs-columns-items_second-column-items_subscriber-items_info-items_full-name-element">Firstname Lastname</span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </li>
        </ul>
    </section>
</div>


<footer class="footer">
    <ul class="footer-items">
        <li class="footer-items-address">
            <ul class="footer-items-address-items">
                <li class="footer-items-address-items-logo"><a asp-controller="Home" asp-action="Index"><img class="footer-items-address-items-logo-element" src="~/Images/Logo_gray.jpg" alt="Logo of webpage"></a></li>
                <li class="footer-items-address-items-description">
                    <ul class="footer-items-address-items-description-items">
                        <li class="footer-items-address-items-description-items-1">1000 Forth Ave.</li>
                        <li class="footer-items-address-items-description-items-2">CityName, WA 34104-1105</li>
                        <li class="footer-items-address-items-description-items-3">206-386-4636 or <a class="footer-link" asp-controller="Home" asp-action="AskUs">Ask us</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="footer-items-social-medias">
            <ul class="footer-items-social-medias-items">
                <li class="footer-items-social-medias-items-about-us"><a class="footer-link" asp-controller="Home" asp-action="AboutUs">About us</a></li>
                <li class="footer-items-social-medias-items-icons">
                    <ul class="footer-items-social-medias-items-icons-items">
                        <li class="footer-items-social-medias-items-icons-items-description">Find us on:</li>
                        <li class="footer-items-social-medias-items-icons-items-links">
                            <ul class="footer-items-social-medias-items-icons-items-links-items">
                                <li class="footer-items-social-medias-items-icons-items-links-items-facebook"><a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-facebook-element" src="~/Images/Icons/icons8-facebook-50.png" alt="Icon of facebook"></a></li>
                                <li class="footer-items-social-medias-items-icons-items-links-items-linkedin"><a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-linkedin-element" src="~/Images/Icons/icons8-linkedin-50.png" alt="Icon of linkedin"></a></li>
                                <li class="footer-items-social-medias-items-icons-items-links-items-youtube"><a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-youtube-element" src="~/Images/Icons/icons8-youtube-50.png" alt="Icon of youtube"></a></li>
                                <li class="footer-items-social-medias-items-icons-items-links-items-instagram"><a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-instagram-element" src="~/Images/Icons/icons8-instagram-50.png" alt="Icon of instagram"></a></li>
                                <li class="footer-items-social-medias-items-icons-items-links-items-x"><a href="https://www.x.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-x-element" src="~/Images/Icons/icons8-twitterx-50.png" alt="Icon of twitterx"></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</footer>