@use "config" as *;

.container-for-header-panel {
    position: sticky;
    top: 0;
}


.header {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 100px 50px 100px;
    background-color: white;

    &-items {
        width: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: space-between;

        &-item {

            &-logo {
                display: flex;
                align-items: center;

                &-image {
                    width: 120px;
                    margin: 0 20px 0 0;
                }

                &-title {
                    margin: 8px 0 0 0;
                    padding: 10px 0 10px 20px;
                    border-left: 3px $grayBackgroundColor solid;
                    display: inline;
                    font-size: 20px;
                    align-self: center;
                    font-weight: normal;
                }
            }
        }

        &-links {

            &-list {
                list-style: none;
                padding: 0;

                &-item {

                    &-discussion {
                        font-size: $headerFontSize;
                    }

                    &-register {

                        &-span {
                            font-size: $headerFontSize;
                        }
                    }

                    &-profile {
                        list-style: none;
                        padding: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &-link {
                            text-decoration: none;
                            color: black;
                        }

                        &-image {
                            margin: 0 6px 0 0;

                            &-element {
                                width: 46px;
                            }
                        }

                        &-inscription {
                            font-size: 12px;

                            &-items {
                                list-style: none;
                                padding: 0;

                                &-logged-as {
                                }

                                &-username {
                                    margin: 0 0 4px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &-link {
        color: black;
        text-decoration: none;

        &-title {
            color: black;
            text-decoration: none;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}


.post {
    width: 640px;
    padding: 50px;
    margin: 0;
    border: 3px $grayBackgroundColor solid;
    border-radius: 20px;
    font-size: 14px;

    &-container {
        display: flex;
        justify-content: center;
    }

    &-items {
        list-style: none;
        padding: 0;
        margin: 0;

        &-header {

            &-items {
                list-style: none;
                padding: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-user-information {
                    display: flex;
                    align-items: center;

                    &-profile-photo {
                        width: 40px;
                        height: 40px;
                        overflow: hidden;
                        border-radius: 40px;
                        object-fit: cover;
                    }

                    &-username {
                        margin: 0 0 0 12px;
                    }
                }

                &-time {
                    color: $grayBackgroundColor;
                }
            }
        }

        &-title {
            margin: 30px 0 20px 0;

            &-element {
                margin: 0;
                font-size: 24px;
            }
        }

        &-topics {
            color: $footerLinkColor;
            margin: 0 0 40px 0;

            &-topic {
            }
        }

        &-paragraph {

            &-element {
                margin: 0;
                line-height: 1.4;
                white-space: pre-line;
                text-align: start;
            }
        }
    }

    &-link {
        color: black;
        text-decoration: none;
        display: block;
    }
}


.container-for-space-between-posts {
    height: 50px;
    width: 100%;
}


.book {
    width: 640px;
    padding: 50px;
    margin: 0;
    border: 3px $grayBackgroundColor solid;
    border-radius: 20px;
    font-size: 14px;

    &-container {
        display: flex;
        justify-content: center;
    }

    &-link {
        color: black;
        text-decoration: none;
    }

    &-items {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;

        &_image {

            &-element {
                width: 200px;
            }
        }

        &_information {
            margin: 10px 0 0 50px;

            &-items {
                padding: 0;
                margin: 0;
                list-style: none;

                &_title {

                    &-element {
                        font-size: 20px;
                        margin: 0 0 20px 0;
                    }
                }

                &_topics {
                    margin: 0 0 20px 0;

                    &-topic {
                        color: $footerLinkColor;
                    }
                }

                &_author {
                    margin: 0 0 40px 0;

                    &-element {
                    }
                }

                &_description {

                    &-element {
                        margin: 0;
                        line-height: 1.4;
                        white-space: pre-line;
                    }
                }
            }
        }
    }
}

.container-for-space-between-books {
    height: 50px;
    width: 100%;
}


.footer {
    padding: 60px 100px 40px 100px;
    margin: 50px 0 0 0;
    background-color: $grayBackgroundColor;

    &-items {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;

        &-address {

            &-items {
                list-style: none;
                padding: 0;
                display: flex;

                &-logo {

                    &-element {
                        width: 100px;
                    }
                }

                &-description {
                    font-size: 14px;
                    line-height: 1.6;

                    &-items {
                        list-style: none;
                        padding: 0;
                        margin: 0 0 0 20px;

                        &-1 {
                            margin: 8px 0 0 0;
                        }

                        &-2 {
                        }

                        &-3 {
                        }
                    }
                }
            }
        }

        &-social-medias {

            &-items {
                list-style: none;
                padding: 0;

                &-about-us {
                    font-size: 14px;
                    margin: 0 0 40px 0;
                }

                &-icons {

                    &-items {
                        list-style: none;
                        padding: 0;

                        &-description {
                            font-size: 14px;
                            margin: 0 0 14px 0;
                        }

                        &-links {

                            &-items {
                                list-style: none;
                                padding: 0;
                                display: flex;

                                &-facebook {
                                    margin: 0 10px 0 0;

                                    &-element {
                                        width: 32px;
                                    }
                                }

                                &-linkedin {
                                    margin: 0 10px 0 0;

                                    &-element {
                                        width: 32px;
                                    }
                                }

                                &-youtube {
                                    margin: 0 10px 0 0;

                                    &-element {
                                        width: 32px;
                                    }
                                }

                                &-instagram {
                                    margin: 0 10px 0 0;

                                    &-element {
                                        width: 32px;
                                    }
                                }

                                &-x {

                                    &-element {
                                        width: 32px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &-link {
        text-decoration: none;
        color: $footerLinkColor;

        &:hover {
            text-decoration: underline;
        }
    }
}
