@model RegisterDTO

@{
    ViewBag.Title = "Registration";
    ViewBag.StylesPath = "~/css/registration.css";
}


<div class="container-for-header-panel">
    <header class="header">
        <ul class="header-items">
            <li class="header-items-item header-items-item-logo"><a href="/home"><img class="header-items-item-logo-image" src="/Images/Logo.jpg" alt="Logo of page"></a></li>
        </ul>
    </header>
</div>


<div class="container-for-registration-form">
    <section class="registration">
        <form class="registration-form" asp-controller="Account" asp-action="Register" asp-route-ReturnUrl="@Context.Request.Query["ReturnUrl"]" method="post">
            <ul class="registration-form-items">
                <li class="registration-form-items-title"><h1 class="registration-form-items-title-element">Registration</h1></li>
                <li class="registration-form-items-input-username"><input class="registration-form-items-input-username-element" asp-for="UserName" placeholder="Username"></li>
                <li class="registration-form-items-input-password"><input class="registration-form-items-input-password-element" asp-for="Password" placeholder="Password"></li>
                <li class="registration-form-items-validation">
                    <div asp-validation-summary="All" class="text-red"></div>
                </li>
                <li class="registration-form-items-button-register"><button class="registration-form-items-button-register-element">Register</button></li>
                <li class="registration-form-items-sign-in"><span>Already have an account? <a class="footer-link" asp-controller="Account" asp-action="SignIn" asp-route-ReturnUrl="@Context.Request.Query["ReturnUrl"]">Sign in</a></span></li>
            </ul>
        </form>
    </section>
</div>


<footer class="footer">
    <ul class="footer-items">
        <li class="footer-items-address">
            <ul class="footer-items-address-items">
                <li class="footer-items-address-items-logo"><a asp-controller="Home" asp-action="Index"><img class="footer-items-address-items-logo-element" src="~/Images/Logo_gray.jpg" alt="Logo of webpage"></a></li>
                <li class="footer-items-address-items-description">
                    <ul class="footer-items-address-items-description-items">
                        <li class="footer-items-address-items-description-items-1">1000 Forth Ave.</li>
                        <li class="footer-items-address-items-description-items-2">CityName, WA 34104-1105</li>
                        <li class="footer-items-address-items-description-items-3">206-386-4636 or <a class="footer-link" asp-controller="Home" asp-action="AskUs">Ask us</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="footer-items-social-medias">
            <ul class="footer-items-social-medias-items">
                <li class="footer-items-social-medias-items-about-us"><a class="footer-link" asp-controller="Home" asp-action="AboutUs">About us</a></li>
                <li class="footer-items-social-medias-items-icons">
                    <ul class="footer-items-social-medias-items-icons-items">
                        <li class="footer-items-social-medias-items-icons-items-description">Find us on:</li>
                        <li class="footer-items-social-medias-items-icons-items-links">
                            <ul class="footer-items-social-medias-items-icons-items-links-items">
                                <li class="footer-items-social-medias-items-icons-items-links-items-facebook"><a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-facebook-element" src="~/Images/Icons/icons8-facebook-50.png" alt="Icon of facebook"></a></li>
                                <li class="footer-items-social-medias-items-icons-items-links-items-linkedin"><a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-linkedin-element" src="~/Images/Icons/icons8-linkedin-50.png" alt="Icon of linkedin"></a></li>
                                <li class="footer-items-social-medias-items-icons-items-links-items-youtube"><a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-youtube-element" src="~/Images/Icons/icons8-youtube-50.png" alt="Icon of youtube"></a></li>
                                <li class="footer-items-social-medias-items-icons-items-links-items-instagram"><a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-instagram-element" src="~/Images/Icons/icons8-instagram-50.png" alt="Icon of instagram"></a></li>
                                <li class="footer-items-social-medias-items-icons-items-links-items-x"><a href="https://www.x.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-x-element" src="~/Images/Icons/icons8-twitterx-50.png" alt="Icon of twitterx"></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</footer>
