@{
    ViewBag.Title = "Admin panel";
    ViewBag.StylesPath = "~/css/librarian-panel.css";
}


<div class="container-for-header-panel">
    <header class="header">
        <ul class="header-items">
            <li class="header-items-item header-items-item-logo">
                <a asp-controller="Admin" asp-action="Index"><img class="header-items-item-logo-image" src="~/Images/Logo.jpg" alt="Logo of page"></a>
                <a class="header-link-title" asp-controller="Admin" asp-action="Index"><h1 class="header-items-item-logo-title">Admin panel</h1></a>
            </li>
            <li class="header-items-links">
                <ul class="header-items-links-list">
                    <li class="header-items-links-list-item header-items-links-list-register">
                        <a class="header-items-links-list-item-profile-link" asp-controller="Account" asp-action="Logout">
                            <ul class="header-items-links-list-item-profile">
                                <li class="header-items-links-list-item-profile-image"><img class="header-items-links-list-item-profile-image-element" src="~/Images/Icons/Logout_icon.svg" alt="Profile picture of user"></li>
                                <li class="header-items-links-list-item-profile-inscription">
                                    <ul class="header-items-links-list-item-profile-inscription-items">
                                        <li class="header-items-links-list-item-profile-inscription-items-logged-as">Logout</li>
                                        <li class="header-items-links-list-item-profile-inscription-items-username">from account</li>
                                    </ul>
                                </li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
</div>


<div class="my-account-container">
    <section class="my-account">
        <ul class="my-account-panels">
            <li class="my-account-panels_first-row">
                <ul class="my-account-panels_first-row-panels">
                    <li class="my-account-panels_first-row-panels_orders">
                        <a class="my-account-link" asp-controller="Admin" asp-action="ManageUsers">
                            <ul class="my-account-panels_first-row-panels_orders-items">
                                <li class="my-account-panels_first-row-panels_orders-items_icon"><img class="my-account-panels_first-row-panels_orders-items_icon-element" src="~/Images/Icons/User_Profile_Photo.svg" alt="User icon"></li>
                                <li class="my-account-panels_first-row-panels_orders-items_description">
                                    <ul class="my-account-panels_first-row-panels_orders-items_description-items">
                                        <li class="my-account-panels_first-row-panels_orders-items_description-items_header"><h2 class="my-account-panels_first-row-panels_orders-items_description-items_header-element">Manage users</h2></li>
                                        <li class="my-account-panels_first-row-panels_orders-items_description-items_description"><span class="my-account-panels_first-row-panels_orders-items_description-items_description-element">Manage users and theirs ordered books</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </a>
                    </li>
                    <li class="my-account-panels_first-row-panels_notifications">
                        <a class="my-account-link" href="">
                            <ul class="my-account-panels_first-row-panels_notifications-items">
                                <li class="my-account-panels_first-row-panels_notifications-items_icon"><img class="my-account-panels_first-row-panels_notifications-items_icon-element" src="~/Images/Icons/Notifications_icon.svg" alt="Notifications icon"></li>
                                <li class="my-account-panels_first-row-panels_notifications-items_description">
                                    <ul class="my-account-panels_first-row-panels_notifications-items_description-items">
                                        <li class="my-account-panels_first-row-panels_notifications-items_description-items_header"><h2 class="my-account-panels_first-row-panels_notifications-items_description-items_header-element">Notifications</h2></li>
                                        <li class="my-account-panels_first-row-panels_notifications-items_description-items_description"><span class="my-account-panels_first-row-panels_notifications-items_description-items_description-element">Don't forget to check sometimes</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </a>
                    </li>
                    <li class="my-account-panels_first-row-panels_settings">
                        <a class="my-account-link" href="settings.html">
                            <ul class="my-account-panels_first-row-panels_settings-items">
                                <li class="my-account-panels_first-row-panels_settings-items_icon"><img class="my-account-panels_first-row-panels_settings-items_icon-element" src="~/Images/Icons/Messages.svg" alt="Messages icon"></li>
                                <li class="my-account-panels_first-row-panels_settings-items_description">
                                    <ul class="my-account-panels_first-row-panels_settings-items_description-items">
                                        <li class="my-account-panels_first-row-panels_settings-items_description-items_header"><h2 class="my-account-panels_first-row-panels_settings-items_description-items_header-element">Messages</h2></li>
                                        <li class="my-account-panels_first-row-panels_settings-items_description-items_description"><span class="my-account-panels_first-row-panels_settings-items_description-items_description-element">Messages from users</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="my-account-panels_second-row">
                <ul class="my-account-panels_second-row-panels">
                    <li class="my-account-panels_second-row-panels_order-history">
                        <a class="my-account-link" asp-controller="Admin" asp-action="ManageBooks">
                            <ul class="my-account-panels_second-row-panels_order-history-items">
                                <li class="my-account-panels_second-row-panels_order-history-items_icon"><img class="my-account-panels_second-row-panels_order-history-items_icon-element" src="~/Images/Icons/Orders_icon.svg" alt="Orders icon"></li>
                                <li class="my-account-panels_second-row-panels_order-history-items_description">
                                    <ul class="my-account-panels_second-row-panels_order-history-items_description-items">
                                        <li class="my-account-panels_second-row-panels_order-history-items_description-items_header"><h2 class="my-account-panels_second-row-panels_order-history-items_description-items_header-element">Manage books</h2></li>
                                        <li class="my-account-panels_second-row-panels_order-history-items_description-items_description"><span class="my-account-panels_second-row-panels_order-history-items_description-items_description-element">Add, delete and change amount of books</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </a>
                    </li>
                    <li class="my-account-panels_second-row-panels_saved">
                        <a class="my-account-link" asp-controller="Admin" asp-action="ManageAuthors">
                            <ul class="my-account-panels_second-row-panels_saved-items">
                                <li class="my-account-panels_second-row-panels_saved-items_icon"><img class="my-account-panels_second-row-panels_saved-items_icon-element" src="~/Images/Icons/Author.svg" alt="Author icon"></li>
                                <li class="my-account-panels_second-row-panels_saved-items_description">
                                    <ul class="my-account-panels_second-row-panels_saved-items_description-items">
                                        <li class="my-account-panels_second-row-panels_saved-items_description-items_header"><h2 class="my-account-panels_second-row-panels_saved-items_description-items_header-element">Manage authors</h2></li>
                                        <li class="my-account-panels_second-row-panels_saved-items_description-items_description"><span class="my-account-panels_second-row-panels_saved-items_description-items_description-element">Add or delete authors</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</div>


<footer class="footer">
    <ul class="footer-items">
        <li class="footer-items-address">
            <ul class="footer-items-address-items">
                <li class="footer-items-address-items-logo"><a asp-controller="Home" asp-action="Index"><img class="footer-items-address-items-logo-element" src="~/Images/Logo_gray.jpg" alt="Logo of webpage"></a></li>
                <li class="footer-items-address-items-description">
                    <ul class="footer-items-address-items-description-items">
                        <li class="footer-items-address-items-description-items-1">1000 Forth Ave.</li>
                        <li class="footer-items-address-items-description-items-2">CityName, WA 34104-1105</li>
                        <li class="footer-items-address-items-description-items-3">206-386-4636 or <a class="footer-link" asp-controller="Home" asp-action="AskUs">Ask us</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="footer-items-social-medias">
            <ul class="footer-items-social-medias-items">
                <li class="footer-items-social-medias-items-about-us"><a class="footer-link" asp-controller="Home" asp-action="AboutUs">About us</a></li>
                <li class="footer-items-social-medias-items-icons">
                    <ul class="footer-items-social-medias-items-icons-items">
                        <li class="footer-items-social-medias-items-icons-items-description">Find us on:</li>
                        <li class="footer-items-social-medias-items-icons-items-links">
                            <ul class="footer-items-social-medias-items-icons-items-links-items">
                                <li class="footer-items-social-medias-items-icons-items-links-items-facebook"><a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-facebook-element" src="~/Images/Icons/icons8-facebook-50.png" alt="Icon of facebook"></a></li>
                                <li class="footer-items-social-medias-items-icons-items-links-items-linkedin"><a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-linkedin-element" src="~/Images/Icons/icons8-linkedin-50.png" alt="Icon of linkedin"></a></li>
                                <li class="footer-items-social-medias-items-icons-items-links-items-youtube"><a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-youtube-element" src="~/Images/Icons/icons8-youtube-50.png" alt="Icon of youtube"></a></li>
                                <li class="footer-items-social-medias-items-icons-items-links-items-instagram"><a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-instagram-element" src="~/Images/Icons/icons8-instagram-50.png" alt="Icon of instagram"></a></li>
                                <li class="footer-items-social-medias-items-icons-items-links-items-x"><a href="https://www.x.com" target="_blank" rel="noopener noreferrer"><img class="footer-items-social-medias-items-icons-items-links-items-x-element" src="~/Images/Icons/icons8-twitterx-50.png" alt="Icon of twitterx"></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</footer>