.container-for-header-panel {
  position: sticky;
  top: 0;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 100px 0 100px;
  background-color: white;
}
.header-items {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: space-between;
}
.header-items-item-logo {
  display: flex;
  align-items: center;
}
.header-items-item-logo-image {
  width: 120px;
  margin: 0 20px 0 0;
}
.header-items-item-logo-title {
  margin: 8px 0 0 0;
  padding: 10px 0 10px 20px;
  border-left: 3px #D9D9D9 solid;
  display: inline;
  font-size: 20px;
  align-self: center;
  font-weight: normal;
}
.header-items-links-list {
  list-style: none;
  padding: 0;
}
.header-items-links-list-item-discussion {
  font-size: 14px;
}
.header-items-links-list-item-register-span {
  font-size: 14px;
}
.header-items-links-list-item-profile {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-items-links-list-item-profile-link {
  text-decoration: none;
  color: black;
}
.header-items-links-list-item-profile-image {
  margin: 0 6px 0 0;
}
.header-items-links-list-item-profile-image-element {
  width: 46px;
}
.header-items-links-list-item-profile-inscription {
  font-size: 12px;
}
.header-items-links-list-item-profile-inscription-items {
  list-style: none;
  padding: 0;
}
.header-items-links-list-item-profile-inscription-items-username {
  margin: 0 0 4px 0;
}
.header-link {
  color: black;
  text-decoration: none;
}
.header-link-title {
  color: black;
  text-decoration: none;
}
.header-link:hover {
  text-decoration: underline;
}

.manage-user {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}
.manage-user-items {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.manage-user-items_profile-photo-element {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 80px;
  object-fit: cover;
}
.manage-user-items_username {
  margin: 10px 0 60px 0;
}
.manage-user-items_username-element {
  font-size: 16px;
}
.manage-user-items_actions-items {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  display: flex;
  padding: 0;
  list-style: none;
}
.manage-user-items_actions-items_orders-element {
  height: 30px;
  width: 200px;
  border-radius: 6px;
  border: #c1c1c1 2px solid;
  background-color: #ececec;
  color: #303030;
  transition: background-color 0.3s ease;
}
.manage-user-items_actions-items_orders-element:hover {
  cursor: pointer;
  background-color: #c1c1c1;
}
.manage-user-items_actions-items_books-element {
  height: 30px;
  width: 200px;
  border-radius: 6px;
  border: #c1c1c1 2px solid;
  background-color: #ececec;
  color: #303030;
  transition: background-color 0.3s ease;
}
.manage-user-items_actions-items_books-element:hover {
  cursor: pointer;
  background-color: #c1c1c1;
}
.manage-user-items_actions-items_send-custom-notification-element {
  height: 30px;
  width: 200px;
  border-radius: 6px;
  border: #c1c1c1 2px solid;
  background-color: #ececec;
  color: #303030;
  transition: background-color 0.3s ease;
}
.manage-user-items_actions-items_send-custom-notification-element:hover {
  cursor: pointer;
  background-color: #c1c1c1;
}
.manage-user-items_actions-items_block-user-element {
  height: 30px;
  width: 200px;
  border-radius: 6px;
  border: #c1c1c1 2px solid;
  background-color: #ececec;
  color: #303030;
  transition: background-color 0.3s ease;
}
.manage-user-items_actions-items_block-user-element:hover {
  cursor: pointer;
  background-color: #c1c1c1;
}
.footer {
  padding: 60px 100px 40px 100px;
  margin: 50px 0 0 0;
  background-color: #D9D9D9;
}
.footer-items {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.footer-items-address-items {
  list-style: none;
  padding: 0;
  display: flex;
}
.footer-items-address-items-logo-element {
  width: 100px;
}
.footer-items-address-items-description {
  font-size: 14px;
  line-height: 1.6;
}
.footer-items-address-items-description-items {
  list-style: none;
  padding: 0;
  margin: 0 0 0 20px;
}
.footer-items-address-items-description-items-1 {
  margin: 8px 0 0 0;
}
.footer-items-social-medias-items {
  list-style: none;
  padding: 0;
}
.footer-items-social-medias-items-about-us {
  font-size: 14px;
  margin: 0 0 40px 0;
}
.footer-items-social-medias-items-icons-items {
  list-style: none;
  padding: 0;
}
.footer-items-social-medias-items-icons-items-description {
  font-size: 14px;
  margin: 0 0 14px 0;
}
.footer-items-social-medias-items-icons-items-links-items {
  list-style: none;
  padding: 0;
  display: flex;
}
.footer-items-social-medias-items-icons-items-links-items-facebook {
  margin: 0 10px 0 0;
}
.footer-items-social-medias-items-icons-items-links-items-facebook-element {
  width: 32px;
}
.footer-items-social-medias-items-icons-items-links-items-linkedin {
  margin: 0 10px 0 0;
}
.footer-items-social-medias-items-icons-items-links-items-linkedin-element {
  width: 32px;
}
.footer-items-social-medias-items-icons-items-links-items-youtube {
  margin: 0 10px 0 0;
}
.footer-items-social-medias-items-icons-items-links-items-youtube-element {
  width: 32px;
}
.footer-items-social-medias-items-icons-items-links-items-instagram {
  margin: 0 10px 0 0;
}
.footer-items-social-medias-items-icons-items-links-items-instagram-element {
  width: 32px;
}
.footer-items-social-medias-items-icons-items-links-items-x-element {
  width: 32px;
}
.footer-link {
  text-decoration: none;
  color: #0066CC;
}
.footer-link:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=manage-user.css.map */
