.container-for-header-panel {
  position: sticky;
  top: 0;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 100px 0 100px;
  background-color: white;
}
.header-items {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: space-between;
}
.header-items-item-logo {
  display: flex;
  align-items: center;
}
.header-items-item-logo-image {
  width: 120px;
  margin: 0 20px 0 0;
}
.header-items-item-logo-title {
  margin: 8px 0 0 0;
  padding: 10px 0 10px 20px;
  border-left: 3px #D9D9D9 solid;
  display: inline;
  font-size: 20px;
  align-self: center;
  font-weight: normal;
}
.header-items-links-list {
  list-style: none;
  padding: 0;
}
.header-items-links-list-item-discussion {
  font-size: 14px;
}
.header-items-links-list-item-register-span {
  font-size: 14px;
}
.header-items-links-list-item-profile {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-items-links-list-item-profile-link {
  text-decoration: none;
  color: black;
}
.header-items-links-list-item-profile-image {
  margin: 0 6px 0 0;
}
.header-items-links-list-item-profile-image-element {
  width: 46px;
}
.header-items-links-list-item-profile-inscription {
  font-size: 12px;
}
.header-items-links-list-item-profile-inscription-items {
  list-style: none;
  padding: 0;
}
.header-items-links-list-item-profile-inscription-items-logged-as {
  color: #D9D9D9;
}
.header-items-links-list-item-profile-inscription-items-username {
  margin: 0 0 4px 0;
}
.header-link {
  color: black;
  text-decoration: none;
}
.header-link-title {
  color: black;
  text-decoration: none;
}
.header-link:hover {
  text-decoration: underline;
}

.post {
  width: 640px;
  padding: 50px;
  margin: 50px 0 0 0;
  border: 3px #D9D9D9 solid;
  border-radius: 20px;
  font-size: 14px;
}
.post-container {
  display: flex;
  justify-content: center;
}
.post-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.post-items-header-items {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-items-header-items-user-information {
  display: flex;
  align-items: center;
}
.post-items-header-items-user-information-profile-photo {
  width: 40px;
}
.post-items-header-items-user-information-username {
  margin: 0 0 0 12px;
}
.post-items-header-items-time {
  color: #D9D9D9;
}
.post-items-title {
  margin: 30px 0 20px 0;
}
.post-items-title-element {
  margin: 0;
  font-size: 24px;
}
.post-items-topics {
  color: #0066CC;
  margin: 0 0 40px 0;
}
.post-items-paragraph-element {
  margin: 0;
  line-height: 1.4;
  white-space: pre-wrap;
}
.post-items-create-comment {
  margin: 40px 0 0 0;
}
.post-items-create-comment-items {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-items-create-comment-items-creation-items {
  list-style: none;
  padding: 0;
  display: flex;
}
.post-items-create-comment-items-creation-items-input-element {
  width: 340px;
  padding: 8px 50px 8px 16px;
  border: 2px #D9D9D9 solid;
  border-radius: 10px;
}
.post-items-create-comment-items-creation-items-input-element:focus {
  outline: none;
}
.post-items-create-comment-items-creation-items-button {
  display: flex;
  align-items: center;
  margin: 2px 0 0 -44px;
}
.post-items-create-comment-items-creation-items-button-element {
  border: none;
  background-color: white;
}
.post-items-create-comment-items-creation-items-button-element:hover {
  cursor: pointer;
}
.post-items-create-comment-items-creation-items-button-element:focus {
  outline: none;
}
.post-items-create-comment-items-creation-items-button-element-image {
  pointer-events: none;
}
.post-items-create-comment-items-creation-items-button-element-image path {
  transition: fill 0.3s ease;
}
.post-items-create-comment-items-interaction-items {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 108px;
}
.post-items-create-comment-items-interaction-items-like {
  display: flex;
  align-items: center;
}
.post-items-create-comment-items-interaction-items-like-element {
  width: 30px;
  transition: all 0.2s ease;
}
.post-items-create-comment-items-interaction-items-like-element-active {
  stroke: none;
}
.post-items-create-comment-items-interaction-items-like-element:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.post-items-create-comment-items-interaction-items-like-amount {
  font-size: 14px;
  margin: 0 0 0 4px;
}
.post-items-create-comment-items-interaction-items-save {
  display: flex;
  align-items: center;
  margin: -2px 0 0 0;
}
.post-items-create-comment-items-interaction-items-save-element {
  width: 30px;
  transition: all 0.2s ease;
}
.post-items-create-comment-items-interaction-items-save-element-active {
  stroke: none;
  fill: black;
}
.post-items-create-comment-items-interaction-items-save-element:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.post-items-comments {
  margin: 80px 0 50px 0;
}
.post-items-comments-title {
  margin: 0;
  font-size: 20px;
}
.post-items-comments-container {
  padding: 0;
  margin: 0;
  list-style: none;
}
.post-items-comment {
  padding: 0 0 0 0;
}
.post-items-comment-items {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.post-items-comment-items-header-items {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-items-comment-items-header-items-user {
  display: flex;
  align-items: center;
}
.post-items-comment-items-header-items-user-picture {
  width: 30px;
}
.post-items-comment-items-header-items-user-username {
  margin: 0 0 0 10px;
}
.post-items-comment-items-header-items-time-of-publication-element {
  color: #D9D9D9;
}
.post-items-comment-items-content-element {
  margin: 26px 0 0 0;
  line-height: 1.4;
  white-space: pre-wrap;
}
.post-items-comment-items-content-div-for-space-between-commentaries {
  height: 60px;
  border-bottom: 3px #D9D9D9 solid;
  margin: 0 0 60px 0;
}
.post-link {
  color: black;
  text-decoration: none;
}

.footer {
  padding: 60px 100px 40px 100px;
  margin: 50px 0 0 0;
  background-color: #D9D9D9;
}
.footer-items {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.footer-items-address-items {
  list-style: none;
  padding: 0;
  display: flex;
}
.footer-items-address-items-logo-element {
  width: 100px;
}
.footer-items-address-items-description {
  font-size: 14px;
  line-height: 1.6;
}
.footer-items-address-items-description-items {
  list-style: none;
  padding: 0;
  margin: 0 0 0 20px;
}
.footer-items-address-items-description-items-1 {
  margin: 8px 0 0 0;
}
.footer-items-social-medias-items {
  list-style: none;
  padding: 0;
}
.footer-items-social-medias-items-about-us {
  font-size: 14px;
  margin: 0 0 40px 0;
}
.footer-items-social-medias-items-icons-items {
  list-style: none;
  padding: 0;
}
.footer-items-social-medias-items-icons-items-description {
  font-size: 14px;
  margin: 0 0 14px 0;
}
.footer-items-social-medias-items-icons-items-links-items {
  list-style: none;
  padding: 0;
  display: flex;
}
.footer-items-social-medias-items-icons-items-links-items-facebook {
  margin: 0 10px 0 0;
}
.footer-items-social-medias-items-icons-items-links-items-facebook-element {
  width: 32px;
}
.footer-items-social-medias-items-icons-items-links-items-linkedin {
  margin: 0 10px 0 0;
}
.footer-items-social-medias-items-icons-items-links-items-linkedin-element {
  width: 32px;
}
.footer-items-social-medias-items-icons-items-links-items-youtube {
  margin: 0 10px 0 0;
}
.footer-items-social-medias-items-icons-items-links-items-youtube-element {
  width: 32px;
}
.footer-items-social-medias-items-icons-items-links-items-instagram {
  margin: 0 10px 0 0;
}
.footer-items-social-medias-items-icons-items-links-items-instagram-element {
  width: 32px;
}
.footer-items-social-medias-items-icons-items-links-items-x-element {
  width: 32px;
}
.footer-link {
  text-decoration: none;
  color: #0066CC;
}
.footer-link:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=post.css.map */
