.container-for-header-panel {
  position: sticky;
  top: 0;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 100px 50px 100px;
  background-color: white;
}
.header-items {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: space-between;
}
.header-items-item-logo {
  display: flex;
  align-items: center;
}
.header-items-item-logo-image {
  width: 120px;
  margin: 0 20px 0 0;
}
.header-items-item-logo-title {
  margin: 8px 0 0 0;
  padding: 10px 0 10px 20px;
  border-left: 3px #D9D9D9 solid;
  display: inline;
  font-size: 20px;
  align-self: center;
  font-weight: normal;
}
.header-items-links-list {
  list-style: none;
  padding: 0;
}
.header-items-links-list-item-discussion {
  font-size: 14px;
}
.header-items-links-list-item-register-span {
  font-size: 14px;
}
.header-items-links-list-item-profile {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-items-links-list-item-profile-link {
  text-decoration: none;
  color: black;
}
.header-items-links-list-item-profile-image {
  margin: 0 6px 0 0;
}
.header-items-links-list-item-profile-image-element {
  width: 46px;
}
.header-items-links-list-item-profile-inscription {
  font-size: 12px;
}
.header-items-links-list-item-profile-inscription-items {
  list-style: none;
  padding: 0;
}
.header-items-links-list-item-profile-inscription-items-username {
  margin: 0 0 4px 0;
}
.header-link {
  color: black;
  text-decoration: none;
}
.header-link-title {
  color: black;
  text-decoration: none;
}
.header-link:hover {
  text-decoration: underline;
}

.settings {
  margin: 0 100px 0 100px;
  border: 3px solid #D9D9D9;
  border-radius: 20px;
}
.settings-elements {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: space-between;
  margin: 0;
}
.settings-elements_menu-elements {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 50px 30px 0 30px;
  align-items: center;
  margin: -16px 0 0 0;
}
.settings-elements_menu-elements_user-image-item {
  width: 100px;
}
.settings-elements_menu-elements_profile {
  display: flex;
  align-self: start;
}
.settings-elements_menu-elements_profile-item {
  display: block;
  margin: 30px 0 0 0;
  padding: 8px 0 8px 0;
  font-size: 14px;
  font-weight: bold;
}
.settings-elements_menu-elements_photo {
  display: flex;
  align-self: start;
}
.settings-elements_menu-elements_photo-item {
  display: block;
  padding: 8px 0 8px 0;
  font-size: 14px;
}
.settings-elements_menu-elements_change-password {
  display: flex;
  align-self: start;
}
.settings-elements_menu-elements_change-password-item {
  display: block;
  padding: 8px 0 8px 0;
  font-size: 14px;
}
.settings-elements_profile-information {
  width: 1088px;
}
.settings-elements_profile-information-elements {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  align-items: center;
  border-left: 3px solid #D9D9D9;
}
.settings-elements_profile-information-elements_title {
  margin: 50px 0 0 0;
}
.settings-elements_profile-information-elements_title-item {
  margin: 0;
  font-size: 20px;
}
.settings-elements_profile-information-elements_subtitle-item {
  font-size: 16px;
  font-weight: normal;
  margin: 10px 0 0 0;
}
.settings-elements_profile-information-elements_input-firstname-item {
  height: 40px;
  width: 500px;
  padding: 0 15px;
  margin: 50px 0 30px 0;
  border: 2px #D9D9D9 solid;
  border-radius: 10px;
}
.settings-elements_profile-information-elements_input-firstname-item:focus {
  outline: none;
}
.settings-elements_profile-information-elements_input-lastname-item {
  height: 40px;
  width: 500px;
  padding: 0 15px;
  margin: 0 0 30px 0;
  border: 2px #D9D9D9 solid;
  border-radius: 10px;
}
.settings-elements_profile-information-elements_input-lastname-item:focus {
  outline: none;
}
.settings-elements_profile-information-elements_input-description-item {
  height: 120px;
  width: 500px;
  padding: 15px 15px 40px 15px;
  border: 2px #D9D9D9 solid;
  border-radius: 10px;
  resize: none;
}
.settings-elements_profile-information-elements_input-description-item:focus {
  outline: none;
}
.settings-elements_profile-information-elements_input-description-number-of-characters {
  color: #D9D9D9;
  font-size: 14px;
  display: block;
  justify-self: end;
  margin: 0 16px 0 0;
}
.settings-elements_profile-information-elements_input-description-number-of-characters-entered-overflow {
  color: #ff6452;
}
.settings-elements_profile-information-elements_input-description-number-of-characters-entered-normal {
  color: #D9D9D9;
}
.settings-elements_profile-information-elements_save-changes-item {
  height: 40px;
  width: 530px;
  background-color: #14A2DE;
  border: none;
  color: white;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin: 50px 0 50px 0;
}
.settings-elements_profile-information-elements_save-changes-item:hover {
  cursor: pointer;
  background-color: #138dc1;
}
.settings-link {
  text-decoration: none;
  color: black;
}

.footer {
  padding: 60px 100px 40px 100px;
  margin: 100px 0 0 0;
  background-color: #D9D9D9;
}
.footer-items {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.footer-items-address-items {
  list-style: none;
  padding: 0;
  display: flex;
}
.footer-items-address-items-logo-element {
  width: 100px;
}
.footer-items-address-items-description {
  font-size: 14px;
  line-height: 1.6;
}
.footer-items-address-items-description-items {
  list-style: none;
  padding: 0;
  margin: 0 0 0 20px;
}
.footer-items-address-items-description-items-1 {
  margin: 8px 0 0 0;
}
.footer-items-social-medias-items {
  list-style: none;
  padding: 0;
}
.footer-items-social-medias-items-about-us {
  font-size: 14px;
  margin: 0 0 40px 0;
}
.footer-items-social-medias-items-icons-items {
  list-style: none;
  padding: 0;
}
.footer-items-social-medias-items-icons-items-description {
  font-size: 14px;
  margin: 0 0 14px 0;
}
.footer-items-social-medias-items-icons-items-links-items {
  list-style: none;
  padding: 0;
  display: flex;
}
.footer-items-social-medias-items-icons-items-links-items-facebook {
  margin: 0 10px 0 0;
}
.footer-items-social-medias-items-icons-items-links-items-facebook-element {
  width: 32px;
}
.footer-items-social-medias-items-icons-items-links-items-linkedin {
  margin: 0 10px 0 0;
}
.footer-items-social-medias-items-icons-items-links-items-linkedin-element {
  width: 32px;
}
.footer-items-social-medias-items-icons-items-links-items-youtube {
  margin: 0 10px 0 0;
}
.footer-items-social-medias-items-icons-items-links-items-youtube-element {
  width: 32px;
}
.footer-items-social-medias-items-icons-items-links-items-instagram {
  margin: 0 10px 0 0;
}
.footer-items-social-medias-items-icons-items-links-items-instagram-element {
  width: 32px;
}
.footer-items-social-medias-items-icons-items-links-items-x-element {
  width: 32px;
}
.footer-link {
  text-decoration: none;
  color: #0066CC;
}
.footer-link:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=profile-settings.css.map */
