.container-for-header-panel {
  position: sticky;
  top: 0;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 100px 0 100px;
  background-color: white;
}
.header-items {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: space-between;
}
.header-items-item-logo-image {
  width: 120px;
}
.header-link {
  color: black;
  text-decoration: none;
}
.header-link:hover {
  text-decoration: underline;
}

.container-for-registration-form {
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
}

.registration {
  padding: 70px 70px 70px 70px;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.registration-form-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.registration-form-items-title-element {
  font-size: 24px;
  margin: 0 0 80px 0;
}
.registration-form-items-input-username-element {
  height: 40px;
  width: 300px;
  padding: 0 15px;
  margin: 0 0 4px 0;
  border: 2px #D9D9D9 solid;
  border-radius: 10px;
}
.registration-form-items-input-username-element:focus {
  outline: none;
}
.registration-form-items-input-password-element {
  height: 40px;
  width: 300px;
  padding: 0 15px;
  margin: 30px 0 4px 0;
  border: 2px #D9D9D9 solid;
  border-radius: 10px;
}
.registration-form-items-input-password-element:focus {
  outline: none;
}
.registration-form-items-validation {
  color: #ff6452;
  display: block;
  font-size: 14px;
  margin: 0 0 0 16px;
  list-style: none;
}
.registration-form-items-validation > div {
  margin: 10px 0 0 0;
}
.registration-form-items-validation > div > ul {
  padding: 0;
  list-style: none;
}
.registration-form-items-validation > div > ul > li {
  margin: 10px 0 0 0;
}
.registration-form-items-button-register-element {
  height: 40px;
  width: 330px;
  background-color: #14A2DE;
  border: none;
  color: white;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  margin: 80px 0 10px 0;
}
.registration-form-items-button-register-element:hover {
  cursor: pointer;
  background-color: #138dc1;
}
.registration-form-items-sign-in {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.footer {
  padding: 60px 100px 40px 100px;
  margin: 100px 0 0 0;
  background-color: #D9D9D9;
}
.footer-items {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.footer-items-address-items {
  list-style: none;
  padding: 0;
  display: flex;
}
.footer-items-address-items-logo-element {
  width: 100px;
}
.footer-items-address-items-description {
  font-size: 14px;
  line-height: 1.6;
}
.footer-items-address-items-description-items {
  list-style: none;
  padding: 0;
  margin: 0 0 0 20px;
}
.footer-items-address-items-description-items-1 {
  margin: 8px 0 0 0;
}
.footer-items-social-medias-items {
  list-style: none;
  padding: 0;
}
.footer-items-social-medias-items-about-us {
  font-size: 14px;
  margin: 0 0 40px 0;
}
.footer-items-social-medias-items-icons-items {
  list-style: none;
  padding: 0;
}
.footer-items-social-medias-items-icons-items-description {
  font-size: 14px;
  margin: 0 0 14px 0;
}
.footer-items-social-medias-items-icons-items-links-items {
  list-style: none;
  padding: 0;
  display: flex;
}
.footer-items-social-medias-items-icons-items-links-items-facebook {
  margin: 0 10px 0 0;
}
.footer-items-social-medias-items-icons-items-links-items-facebook-element {
  width: 32px;
}
.footer-items-social-medias-items-icons-items-links-items-linkedin {
  margin: 0 10px 0 0;
}
.footer-items-social-medias-items-icons-items-links-items-linkedin-element {
  width: 32px;
}
.footer-items-social-medias-items-icons-items-links-items-youtube {
  margin: 0 10px 0 0;
}
.footer-items-social-medias-items-icons-items-links-items-youtube-element {
  width: 32px;
}
.footer-items-social-medias-items-icons-items-links-items-instagram {
  margin: 0 10px 0 0;
}
.footer-items-social-medias-items-icons-items-links-items-instagram-element {
  width: 32px;
}
.footer-items-social-medias-items-icons-items-links-items-x-element {
  width: 32px;
}
.footer-link {
  text-decoration: none;
  color: #0066CC;
}
.footer-link:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=registration.css.map */
